<div class="card h-100">
  <img src="{{ product.featured_image | img_url: 'medium' }}" class="card-img-top" alt="{{ product.title }}">

  <div class="card-body text-center">
    <a href="{{ product.url }}" class="text-decoration-none">
      <h5 class="card-title">{{ product.title }}</h5>
    </a>

    {% if product.compare_at_price > product.price %}
      <p class="card-text">
        <span class="text-decoration-line-through text-danger">{{ product.compare_at_price | money }}</span> <br>
        <strong> {{ product.price | money }}</strong>
      </p>
    {% else %}
      <p class="card-text"><strong>{{ product.price | money }}</strong></p>
    {% endif %}


    {% if product.available %}
 <form class="add-to-cart-form">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">

  <div class="form-group d-flex justify-content-center">
    <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" class="form-control w-25 mx-2" value="1" min="1">
  </div>
  <button type="submit">Add to Cart</button>
  <div class="add-to-cart-response"></div>
</form>


<div id="add-to-cart-response"></div>
    {% else %}
      <p class="text-danger">Out of Stock</p>
    {% endif %}

    <p class="card-text">{{ product.description | strip_html | truncatewords: 20 }}</p>

    <a href="{{ product.url }}" class="btn btn-outline-primary">View Product</a>
  </div>
</div>
