<div class="card h-100">
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: 'medium' }}" class="card-img-top" alt="{{ product.title }}">
  </a>
  <div class="card-body text-center">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | money }}</p>

    {% if product.available %}
      <button class="btn btn-success">Add to Cart</button>
    {% else %}
      <span class="text-danger">Out of Stock</span>
    {% endif %}
  </div>
</div>
