<div class="card">
    <img src="{{ product.featured_image | img_url:"medium" }}" class="card-img-top" alt="{{ product.title }}">
    
    <a href="{{ product.url }}" > <h3 class="card-title">{{ product.title }}</h3></a>

    {% if product.compare_at_price > product.price %}

        <p class="card-text">
            <span class="text-muted">Was: {{ product.compare_at_price | money }}</span> Now: {{ product.price | money }}
        </p>

    {% endif %}

{% if product.available %}
    <a href="{{ product.url }}" class="btn btn-primary"> Add to Cart</a>
    {% else %}
        <p class="text-danger">Out of Stock</p>
    {% endif %}

    <p class="card-text">{{ product.description | truncatewords: 20 }}</p>

    <a href="{{ product.url }}" class="btn btn-primary">View Product</a>
    
</div>
